@using Google.Apis.Calendar.v3.Data

@model CalendarController
@{
    ViewData["title"] = "Calendar";
}

<h1>@ViewData["title"]</h1>
<h1>HOLa mundo</h1>
<h1></h1>



<style>
body{
    background-color: black;
    color: white
}
</style>